@import "compass";
@import "compass/css3";

$default-transition-duration:.3s;
$duration:.5s;

$icon-sprite-dimensions:true;
$icon-layout:smart;

/*@import "icon/*.png";*/

@include global-reset;
/*@include all-icon-sprites;*/


@include font-face("GothamRnd-Bold", font-files("GothamRnd-Bold.otf"));
@include font-face("GothamRnd-BoldItal", font-files("GothamRnd-BoldItal.otf"));
@include font-face("GothamRnd-Book", font-files("GothamRnd-Book.otf"));
@include font-face("GothamRnd-BookItal", font-files("GothamRnd-BookItal.otf"));
@include font-face("GothamRnd-Light", font-files("GothamRnd-Light.otf"));
@include font-face("GothamRnd-Medium", font-files("GothamRnd-Medium.otf"));
@include font-face("GothamRnd-MedItal", font-files("GothamRnd-MedItal.otf"));

@include font-face("Sanchez-Regular", font-files("Sanchez-Regular.otf"));
@include font-face("Sanchez-Italic", font-files("Sanchez-italic.otf"));





*{
	@include box-sizing(border-box);
}

html{
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}

body{
	color:#4c4c4c;
	background-color: #f7f6f2;
	
	font-family: "GothamRnd-Book";
	/*font-size: 14px;*/
	/*font-size: 1em;*/
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}

@media (orientation:landscape) {
    html.ipad.ios7, html.ipad.ios7 body {
        height: 672px !important;
    }
}

a{
	color:#9d2344;
	text-decoration: none;

}

/*
input, textarea{
	border:none;
	-webkit-appearance: none;
	@include border-radius(0px);
}
*/

i{
	display:inline-block;
}

h1{
	text-align:center;
	font-size:18px;
	margin: 5px 0 15px;
	/*text-transform:uppercase;*/
}

h2{
	text-align:center;
	font-size:14px;
	margin: 5px 0 15px;
}

p{
	margin: 1em 00px;
	@include clearfix;
}

.ng-scope{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	overflow: auto;
	&.page, &.panel{
		padding-top: 50px;
	}
}




.bande{
	width:100%;
	text-align:center;
	background-color:#FFF;
	height:50px;
	font-size: 14px;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 999;
	border-bottom: 1px solid #cccccc;
	line-height: 50px;
	vertical-align: middle;
	@include box-shadow(rgba(0,0,0,0.3) 0px 5px 10px);
	.btn-menu{
		display: block;
		position: absolute;
		top: 15px;
		left: 15px;
		width: 22px;
		height: 19px;
		background-image: url(../img/bt-menu.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.ctn-btn-retour{
		display: block;
		width: 100%;
		height: 100%;
		.title{
			color:#4c4c4c !important;
		}
	}
	.btn-retour{
		display: block;
		position: absolute;
		top: 20px;
		left: 22px;
		width: 9px;
		height: 11px;
		background-image: url(../img/bt-retour.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.title{
		font-family: "GothamRnd-Medium";
		font-size: 14px;
		width: 50%;
		display: inline-block;
		line-height: 15px;
		height: auto;
		vertical-align: middle;
	}
}


.header{
	position : absolute;
	top:0; left:0; right:0;
	height: 0px; line-height: 40px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	background-color: #f7f6f2;
}

.view{
	bottom:0; 
	position:absolute; 
	text-align:center;
	top:0;  
	width:100%;
	height: 100%;
	left: 0;
	right: 0;
}

.nav{
	position: fixed;
	bottom:0; left:0; right:0;
	height: 60px;
	line-height: 60px;
	text-align : center;
	background-color: #f7f6f2;
		
	/*overflow: hidden;*/
	@include clearfix;
	span{
		margin-right: 20px;
		margin-left: 20px;
		display: inline-block;
	}
	.active{
		border-top: 3px solid #9d2344;
	}
	i{
		margin-top: 15px;
	}
}

.page-container{
	display: block;
	width:100%;
	height: 100%;
	background-color: #FFF;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity:1;
}


.panel{
	position:absolute;
	top:0px; left:0px; right:0px; bottom:0px;
	overflow-x:hidden;
	padding-top: 50px;
	/*overflow-y:scroll;*/
	-webkit-overflow-scrolling:touch;
	@include transition-property(transform);
	@include transition-duration(.5s);
}

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }


.ng-enter.first-build{
	-webkit-animation:none !important;
	-moz-animation:none !important;
	animation:none !important;
}
.ng-leave.first-build{
	-webkit-animation:none !important;
	-moz-animation:none !important;
	animation:none !important;
}


.ng-enter.tutoriel{
	-webkit-animation:fadeIn 0.1s both ease-in !important;   
	-moz-animation:fadeIn 0.1s both ease-in !important;   
	animation:fadeIn 0.1s both ease-in !important;   
}


.ng-leave.tutoriel{
	-webkit-animation:fadeOut 0.3s both ease-in !important;   
	-moz-animation:fadeOut 0.3s both ease-in !important;   
	animation:fadeOut 0.3s both ease-in !important;   
}


/* slideFromRight*/
@keyframes slideFromRight {
	from 	{ transform:translateX(-100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideFromRight {
	from 	{ -moz-transform:translateX(-100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideFromRight {
	from 	{ -webkit-transform:translateX(-100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slideFromLeft*/
@keyframes slideFromLeft {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideFromLeft {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideFromLeft {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slideToLeft */
@keyframes slideToLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideToLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideToLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}


/* slideToRight */
@keyframes slideToRight {
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideToRight {	
	to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideToRight {
	to 		{ -webkit-transform: translateX(100%); }
}

/* fadeIn */
@-webkit-keyframes fadeIn {
	from 	{ opacity: 0; }
	to 		{ opacity: 1;}
}

/* fadeOut */
@-webkit-keyframes fadeOut {
	from 	{ opacity: 1; }
	to 		{ opacity: 0;}
}

/* page specific animations ------------------------ */


.fadeAnimation.ng-leave{
	-webkit-animation:fadeOut 0.3s both ease-in;
	-moz-animation:fadeOut 0.3s both ease-in;
	animation:fadeOut 0.3s both ease-in;
}
.fadeAnimation.ng-enter{
	-webkit-animation:fadeIn 0.3s both ease-in;
	-moz-animation:fadeIn 0.3s both ease-in;
	animation:fadeIn 0.3s both ease-in;
}

/* home -------------------------- */
.page-home.ng-leave         {
    -webkit-animation:slideToLeft 0.3s both ease-in;
	-moz-animation:slideToLeft 0.3s both ease-in;
	animation:slideToLeft 0.3s both ease-in;
}
.page-home.ng-enter 		{  
    -webkit-animation:slideFromRight 0.3s both ease-in;
	-moz-animation:slideFromRight 0.3s both ease-in;
	animation:slideFromRight 0.3s both ease-in;
}



/* sousthemes ------------------------ */
.page-sousthemes.ng-leave        {
    -webkit-animation:slideToRight 0.3s both ease-in;
	-moz-animation:slideToRight 0.3s both ease-in;
	animation:slideToRight 0.3s both ease-in;   
}
.page-sousthemes.ng-enter 		{  
    -webkit-animation:slideFromLeft 0.3s both ease-in;
	-moz-animation:slideFromLeft 0.3s both ease-in;
	animation:slideFromLeft 0.3s both ease-in;    
}

.page-sousthemes.animToLeft.ng-leave        {
    -webkit-animation:slideToLeft 0.3s both ease-in;
	-moz-animation:slideToLeft 0.3s both ease-in;
	animation:slideToLeft 0.3s both ease-in;   
}
.page-sousthemes.animToLeft.ng-enter 		{  
    -webkit-animation:slideFromRight 0.3s both ease-in;
	-moz-animation:slideFromRight 0.3s both ease-in;
	animation:slideFromRight 0.3s both ease-in;    
}

.animRetour .page-sousthemes.ng-leave        {
    -webkit-animation:slideToRight 0.3s both ease-in !important;
	-moz-animation:slideToRight 0.3s both ease-in !important;
	animation:slideToRight 0.3s both ease-in !important;  
}

.animRetour .page-sousthemes.ng-enter 		{  
    -webkit-animation:slideFromRight 0.3s both ease-in !important;
	-moz-animation:slideFromRight 0.3s both ease-in !important;
	animation:slideFromRight 0.3s both ease-in !important;  
}

/* liste etapes ------------------------ */
.page-listeetapes.ng-leave        {
    -webkit-animation:slideToRight 0.3s both ease-in;
	-moz-animation:slideToRight 0.3s both ease-in;
	animation:slideToRight 0.3s both ease-in;   
}
.page-listeetapes.ng-enter 		{  
    -webkit-animation:slideFromLeft 0.3s both ease-in;
	-moz-animation:slideFromLeft 0.3s both ease-in;
	animation:slideFromLeft 0.3s both ease-in;    
}

.animRetour .page-listeetapes.ng-leave 		{  
    -webkit-animation:slideToRight 0.3s both ease-in !important;
	-moz-animation:slideToRight 0.3s both ease-in !important;
	animation:slideToRight 0.3s both ease-in !important;   
}

/* sous page animations */

.animate-switch-container {
  	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
}

.animate-switch {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#FFF;
}

/*
.page.page-under-header{
	padding-top: 75px;
}*/

/* Anim leave block theme */
.animate-switch.block-themes.ng-enter{
	-webkit-animation:slideFromRight 0.3s both ease-in;
	-moz-animation:slideFromRight 0.3s both ease-in;
	animation:slideFromRight 0.3s both ease-in;
}
/* Anim enter block theme */
.animate-switch.block-themes.ng-leave{
	-webkit-animation:slideToLeft 0.3s both ease-in;
	-moz-animation:slideToLeft 0.3s both ease-in;
	animation:slideToLeft 0.3s both ease-in;
}

/* Anim leave block acotedemoi */
.animate-switch.block-acotedemoi.ng-enter{
	-webkit-animation:slideFromLeft 0.3s both ease-in;
	-moz-animation:slideFromLeft 0.3s both ease-in;
	animation:slideFromLeft 0.3s both ease-in;
}
/* Anim enter block acotedemoi */
.animate-switch.block-acotedemoi.ng-leave{
	-webkit-animation:slideToRight 0.3s both ease-in;
	-moz-animation:slideToRight 0.3s both ease-in;
	animation:slideToRight 0.3s both ease-in;
}


/* Anim leave block carte si on va vers acotedemoi */
.blockactu-acotedemoi .animate-switch.block-carte.ng-leave{
	-webkit-animation:slideToLeft 0.3s both ease-in;
	-moz-animation:slideToLeft 0.3s both ease-in;
	animation:slideToLeft 0.3s both ease-in;
}
/* Anim enter block carte si on va vers acotedemoi */
.blockactu-carte.blockprevious-acotedemoi .animate-switch.block-carte.ng-enter{
	-webkit-animation:slideFromRight 0.3s both ease-in;
	-moz-animation:slideFromRight 0.3s both ease-in;
	animation:slideFromRight 0.3s both ease-in;
}


/* Anim leave block carte si on va vers theme */
.blockactu-themes .animate-switch.block-carte.ng-leave{
	-webkit-animation:slideToRight 0.3s both ease-in;
	-moz-animation:slideToRight 0.3s both ease-in;
	animation:slideToRight 0.3s both ease-in;
}
/* Anim enter block carte si on va vers theme */
.blockactu-carte.blockprevious-themes .animate-switch.block-carte.ng-enter{
	-webkit-animation:slideFromLeft 0.3s both ease-in;
	-moz-animation:slideFromLeft 0.3s both ease-in;
	animation:slideFromLeft 0.3s both ease-in;
}




/***** MENU *****/
.menu-container{
	/*
	display:block;
	width:100%;
	height:auto;
	text-align:center;
	*/
	span.logo-menu{
		display:inline-block;
		width: 100px;
		height: 105px;
		margin-top:50px;
		background-image:url(../img/logo-menu.png);
		background-repeat:no-repeat;
		margin-bottom:30px;
	}
	
	ul{
		width:100%;
		border-top: 1px solid #dadada;
		border-bottom:1px solid #ffffff;
		text-align: left;
		overflow: hidden;
		li{
			height: 71px;
			border-top:1px solid #ffffff;
			border-bottom:1px solid #dadada;
			width: 100%;
			line-height: 66px;
			position:relative;
			:before{
				content:'';
				width: 45px;
				height: 45px;
				display: block;
				position: absolute;
				top: 12px;
				left: 10px;
				background-image:url(../img/ico-etapes.png);
				background-repeat: no-repeat;
				background-position: center center;
			}
			span{
				width:100%;
  				vertical-align:middle;
  				display:inline-block;
				padding-left:60px;
  				line-height:normal;
			}
		}
		li.active{
			background-color: #deddd9;
			-moz-box-shadow: inset 0px -7px 10px -4px #bfbebb;
			-webkit-box-shadow: inset 0px -7px 10px -4px #bfbebb;
			-o-box-shadow: inset 0px -7px 10px -4px #bfbebb;
			box-shadow: inset 0px -7px 10px -4px #bfbebb;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#bfbebb, Direction=90, Strength=10);
		}
		li.parent.open{
			background-color:#deddd9;
		}
		ul.sousmenu{
			max-height: 0px;
			width: 100%;
			overflow: hidden;
			border-top: none;
			@include transition-property(max-height);
  			@include transition-duration(0.5s);

  			-moz-box-shadow: inset 0px -7px 10px -4px #333;
			-webkit-box-shadow: inset 0px -7px 10px -4px #333;
			-o-box-shadow: inset 0px -7px 10px -4px #333;
			box-shadow: inset 0px -7px 10px -4px #333;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#333, Direction=90, Strength=10);

			-moz-box-shadow: inset 0px 7px 10px -4px #333;
			-webkit-box-shadow: inset 0px 7px 10px -4px #333;
			-o-box-shadow: inset 0px 7px 10px -4px #333;
			box-shadow: inset 0px 7px 10px -4px #333;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#333, Direction=180, Strength=10);

			li{
				background-color: #3e3e3e;
				border-bottom: 1px solid #5d5d5d;
				border-top: none;
				color: white;
				height: 50px;
				line-height: 45px;
				:before{
					display:none;
				}
			}
			&.activate{
				max-height:500px;
			}
		}
	}
	
}





/** TUTO **/


.ng-enter.tutoriel-page{
	-webkit-animation:fadeIn 0.5s both ease-in !important;   
	-moz-animation:fadeIn 0.5s both ease-in !important;   
	animation:fadeIn 0.5s both ease-in !important;   
}


.ng-leave.tutoriel-page{
	-webkit-animation:fadeOut 0.5s both ease-in !important;   
	-moz-animation:fadeOut 0.5s both ease-in !important;   
	animation:fadeOut 0.5s both ease-in !important;   
}

.tutorial-container{
	background-image: url(../img/photo-bg@2x.png);
	background-color: #9d2344;
	background-size: cover;
	background-position: center center;
	text-align: center;
}


.tutorial-container .panel{
	background-color: rgba(157,35,68,0.9);
}

.tutorial-container .next-slide-btn{
	position: absolute;
	bottom: 80px;
	width: 100%;
	display: block;
	text-align: center;
}

.tutorial-container .next-slide-btn span{
	font-family: "GothamRnd-Bold", sans-serif;
	font-size: 15px;
	color:#9d2344;
	background-color: #f7f6f2;
	padding: 10px 13px 7px 13px;
	@include border-radius(3px, 3px);
}


.tutorial-container .next-slide-btn.hide{
	display: none;
}

.tutorial-container .slider-nav{
	position: absolute;
	bottom: 35px;
	width: 100%;
}
.tutorial-container .slider-nav li{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: white;
	opacity: 0.4;
	@include border-radius(4px, 4px);
	margin-left:3px;
	margin-right: 3px;
}
.tutorial-container .slider-nav li.active{
	opacity: 1;
	@include transition-property(opacity);
  	@include transition-duration(0.3s);
}

.block-slide{
	display: block;
	width: 100%;
	height: 100%;
	font-family: "GothamRnd-Bold", sans-serif;
	color: white;
	font-size: 25px;
	text-align: center;
	padding-top: 100px;
}


.tutorial-container .animate-switch{
	background: none;
}

.swipe-left .animate-switch.block-slide.ng-enter{
	-webkit-animation:slideFromLeft 0.3s both ease-in;
	-moz-animation:slideFromLeft 0.3s both ease-in;
	animation:slideFromLeft 0.3s both ease-in;
}
.swipe-left .animate-switch.block-slide.ng-leave{
	-webkit-animation:slideToLeft 0.3s both ease-in;
	-moz-animation:slideToLeft 0.3s both ease-in;
	animation:slideToLeft 0.3s both ease-in;
}

.swipe-right .animate-switch.block-slide.ng-enter{
	-webkit-animation:slideFromRight 0.3s both ease-in;
	-moz-animation:slideFromRight 0.3s both ease-in;
	animation:slideFromRight 0.3s both ease-in;
}
.swipe-right .animate-switch.block-slide.ng-leave{
	-webkit-animation:slideToRight 0.3s both ease-in;
	-moz-animation:slideToRight 0.3s both ease-in;
	animation:slideToRight 0.3s both ease-in;
}



/** PAGE HOME **/

.page-home .animate-switch, .page-home .page-container{
	background-color: #7e1c36;

}


ul.themes-liste{
	width: 100%;
	text-align: left;
	margin-bottom: 60px;
	a{
		display: block !important;
		position: relative !important;
		width: 100%;
		height: 70px;
	}
	li{
		width: 100%;
		height: 70px;
		background-color: #9d2344;
		display: block;
		color:white;
		line-height: 70px;
		border-top: 1px solid rgba(255,255,255,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.2);
		position: relative;
		overflow: hidden;

		span.etape-image{
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100px;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
		span.icon{
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 80px;
			height: 80%;
			margin-top: 7px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}


		span.titre{
			margin-left: 85px;
			color: #e8e8d9;
			text-transform: uppercase;
			display: inline-block;
			line-height: 16px;
			font-family: "GothamRnd-Book", sans-serif;
			font-size: 14px;
			letter-spacing: 0.5px;
			width: 70%;
			vertical-align: middle;
			&.titre-avec-image{
				margin-left: 120px;
				width: auto;
			}
		}
		span.color{
			display: block;
			position: absolute;
			top: -1px;
			right: 0px;
			width: 20px;
			height: 69px;
			background-color: #f7f6f2;
			@include transition-property(width);
  			@include transition-duration(0.1s);
		}
		span.color:after{
			content:'';
			display: block;
			position: absolute;
			top: 50%;
			left: 0px;
			margin-top: -6px;
			width: 7px;
			height: 12px;
			background-image: url(../img/fleche.png);
		}
		span.nb-etapes{
			display: block;
			width: 20%;
			height: 100%;
			position: absolute;
			right: 0px;
			top: 0px;
			opacity: 0.8;
			color: #e8e8d9;
			text-align: center;
			line-height: 12px;
			span.chiffre{
				font-size: 23px;
				display: inline-block;
				width: 100%;
				padding-top: 25px;
			}
			span.label{
				text-transform: uppercase;
				font-size: 9px;
				display: inline-block;
				width: 100%;
			}
		}
	}
	li:after{
		content:'';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../img/halo-menu-li.png);
		background-size: 100% auto;
		background-position: center bottom;
	}
	li:hover{
		span.color{
			width: 40px;
		}
	}
}

.list-sous-themes {
	ul{
		margin-bottom: 0px !important;
		padding-top: 50px;
	}
}

.list-etapes{
	position: relative;
	width: 100%;
	height: 100%;
	ul{
		margin-bottom: 0px !important;
	}
}




/** RETINA CASE **/


@media  only screen and (min-device-pixel-ratio: 2),   
        only screen and (min-resolution: 192dpi) {  
    
	span.logo-menu{	
		background-image:url(../img/logo-menu.png);
		background-size: 100px 105px;
	}

	ul li:before{
		background-image:url(../img/ico-etapes@2x.png);
		background-size: 20px 29px;
	}

	.bande .btn-menu{
		background-image: url(../img/bt-menu@2x.png);
		background-size: 22px 19px;
	}
	.bande .btn-retour{
		background-image: url(../img/bt-retour@2x.png);
		background-size: 7px 11px;
	}

	ul.themes-liste{
		li{
			span.color:after{
				background-image: url(../img/fleche@2x.png);
				background-size: 7px 12px;
			}
		}

	}

}

